**Negative Indexing & Slicing in Lists**

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4]) # Negatif indexlemede -1 den ba≈ülar, hatƒ±rlayacak olursak pozitif indexlemede 0 dan ba≈ülƒ±yordu

London

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:]) # index[-3] ve sonrasƒ±nƒ± yazdƒ±r demektir

['lobster', 'squid', 'octopus']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3]) # index[-3] e kadar olanlarƒ± ba≈ütan ba≈ülayarak yazdƒ±r demektir, index[-3] dahil deƒüil !

['swordfish', 'shark', 'whale', 'jellyfish']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # Step "-" olduƒüundan sondan ba≈ülayarak sola doƒüru 1 er atlayarak git demektir, aslƒ±nda o da listeleri tersten yazdƒ±rma anlamƒ±na gelir

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2]) # Step "-" olduƒüundan sondan ba≈ülayarak sola doƒüru 2 ≈üer atlayarak git demektir

['octopus', 'lobster', 'whale', 'swordfish']

In [ ]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1]) # Step - olduƒüundan index[7] den ba≈ülayarak sola doƒüru 1 er atlayarak index[3] e kadar yazdƒ±r demektir, index[3] dahil deƒüil !
print(odd_no[2:6:-1]) # Step - olduƒüundan index[2] den ba≈ülayarak sola doƒüru 1 er atlayarak yazdƒ±r demektir, lakin index[2] nin soluna doƒüru gidildiƒüinde index[6] olmadƒ±ƒüƒ± i√ßin bu ≈üekilde bo≈ü liste verir

[8, 7, 6, 5]
[]

In [ ]:
harfler = "a b c d e f g h i j".split() # split fonksiyonu ile kolayca liste yapabiliriz, i√ßerisindeki karaktere g√∂re b√∂ler 
print(harfler) # Aslƒ±nda burada bo≈üluklardan ayƒ±rarak liste yaptƒ±

harfler = "a,b,c,d,e,f,g,h,i,j".split(",") # split fonksiyonu ile kolayca liste yapabiliriz, i√ßerisindeki karaktere g√∂re b√∂ler 
print(harfler) # Aslƒ±nda burada da virg√ºllerden ayƒ±rarak liste yaptƒ±, fakat her ikisinin √ßƒ±ktƒ±sƒ± da aynƒ± olur √ß√ºnk√º listede elemanlar virg√ºllerle ayrƒ±lƒ±r

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
names = ["ahmet", "mehmet", "hasan", "h√ºseyin"]
result = sorted(names) # sorted() fonksiyonu alfabetik sƒ±ralamaya g√∂re sƒ±ralar
print(result)

['ahmet', 'hasan', 'h√ºseyin', 'mehmet']

In [ ]:
cities = ["Addis Ababa", "Tokyo", "Rome", "ƒ∞stanbul", "Rio"]
print(sorted(cities)) # Alfabetik sƒ±raya g√∂re sƒ±raladƒ±k
print(sorted(cities, key=len)) # ≈ûehirlerin uzunluklarƒ±na g√∂re sƒ±raladƒ±k.(√∂r: sorted()) √ºzerine gelince g√∂z√ºk√ºr fonkiyonlarƒ±n parametreleri)
                               # key parameteresine yazƒ±lacak olan fonksiyonun i≈ülevine g√∂re sƒ±ralar, burada len() fonksiyonu kullanƒ±ldƒ±
print(sorted(cities, key=len, reverse=True)) # Burada da sorted() fonksiyon parametrelerinden reverse default olarak False gelir onu True yaparak listeyi tersten yazdƒ±rabildik
print(cities) # G√∂r√ºleceƒüi √ºzere orjinal liste aynƒ± kaldƒ±

['Addis Ababa', 'Rio', 'Rome', 'Tokyo', 'ƒ∞stanbul']
['Rio', 'Rome', 'Tokyo', 'ƒ∞stanbul', 'Addis Ababa']
['Addis Ababa', 'ƒ∞stanbul', 'Tokyo', 'Rome', 'Rio']
['Addis Ababa', 'Tokyo', 'Rome', 'ƒ∞stanbul', 'Rio']

In [ ]:
cities = ["Addis Ababa", "Tokyo", "Rome", "ƒ∞stanbul", "Rio"]
cities.sort(key = len, reverse = False ) # Bu ≈üekilde de yapƒ±labilir. sort() fonksiyonu kullanƒ±mƒ±. Fakat burada sort() fonksiyonu ile listeyi kalƒ±cƒ± olarak deƒüi≈ütiriyoruz
print(cities)

['Rio', 'Rome', 'Tokyo', 'ƒ∞stanbul', 'Addis Ababa']

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3, 4, 7, 4, 3, 2, 6, 8, 7, 6, 5, 3, 3, 4, 7, 9, 3, ]

most_frequent = max(numbers, key = numbers.count) # Burada max() fonksiyonu keyi olarak count belirledik, ve listenin i√ßinde en √ßok ge√ßen elemanƒ± verir
                                                  # count() fonksiyonu da bir list fonksiyonu olduƒüu i√ßin list ismi ile birlikte belirtilmelidir. len() fonksiyonunu key i√ßin kullanƒ±rken b√∂yle bir≈üey yok
repeat = numbers.count(most_frequent)

result = f"the most frequent number is {most_frequent} and it was {repeat} times repeated"
print(result)

the most frequent number is 3 and it was 8 times repeated

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]
new_list = []

for x in my_list:
  if x % 2 != 0:
    new_list.append(pow(x,2))

print(new_list)

[1, 9, 25]

In [ ]:
# [expression for item in list execution body if condition]

my_list = [1, 2, 3, 4, 5, 6]
print([x ** 2 for x in my_list if x % 2 != 0])

[1, 9, 25]

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0], escapes[2][1])

print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, \
 two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose,  two favorite colors are blue and green.

# **TUPLES**
The most important difference from the list is that the tuple is immutable. 

Therefore, methods like append() or remove() do not exist in the operations of this type.

Tuples are immutable and faster than lists.

We used square brackets üëâüèª'[]' to define the lists. In the tuple, normal parentheses üëâüèª'()' are used.

In [ ]:
empty_tuple = () # Let's create a simple empty tuple

In [ ]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [ ]:
# If you want to create a single element tuple, you should use a comma.

try_tuple = ('love')
print(try_tuple)
print(type(try_tuple)) # it's not tuple type. G√∂r√ºleceƒüi √ºzere tipi string oldu, √ß√ºnk√º tek elemanƒ±n sonunda "," yok

love
<class 'str'>

In [ ]:
# Remember to always use a comma when defining a singleton tuple.

try_tuple = ('love',) # Tek elemanƒ±n sonunda virg√ºl var
print(try_tuple)
print(type(try_tuple)) # G√∂r√ºld√ºƒü√º gibi tipi bu sefer tuple oldu

('love',)
<class 'tuple'>

In [ ]:
x = ([4,6,8])
print(type(x))
x = ([4,6,8],) # G√∂r√ºleceƒüi √ºzere tek bir , ile tuple yapabildik
print(type(x))

<class 'list'>
<class 'tuple'>

In [ ]:
my_tuple = ("Solar") # G√∂r√ºld√ºƒü√º gibi burada , olmadƒ±ƒüƒ± i√ßin bunu tuple olarak algƒ±lamadƒ±
print(my_tuple, type(my_tuple), sep="\n")

Solar
<class 'str'>

In [ ]:
planets = 'mercury', 'jupiter', 'saturn' # G√∂r√ºleceƒüi √ºzere Phyton bu ≈üekilde parantezsiz yazƒ±lsa dahi onu bir tuple olarak algƒ±lar

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [ ]:
x = 1, 2, 3  # Phyton parantez olmasa da bu ≈üekilde , ile yapƒ±lan kullanƒ±mlarƒ± hayali parantez ile tamamlar ve tuple olarak kabul eder
print(type(x))

<class 'tuple'>

In [ ]:
aa = "a", "b", "c"
print(type(aa))

<class 'tuple'>

In [ ]:
bb = ("aa") # G√∂r√ºlecei √ºzere burada , olmadƒ±ƒüƒ± i√ßin str olarak algƒ±ladƒ±
print(type(bb))

<class 'str'>

In [ ]:
cc = "aa",  # Burada ise parantez yok tek eleman virg√ºl var ve tuple olarak algƒ±ladƒ±
print(type(cc))

<class 'tuple'>

In [ ]:
# Another way to create a tuple is to call the tuple() function. ƒ∞√ßine iterable object alƒ±r

empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [ ]:
# It is easy to convert between list and tuple as in the examples below :

my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple) # Bu ≈üekilde tuple'ƒ± kolayca list'e √ßevirebildik
print(type(my_list), my_list)

my_tuple = tuple(my_list) # Tam tersi de m√ºmk√ºnd√ºr
print(type(my_tuple), my_tuple)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]
<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [ ]:
# An iterable string can be converted to a tuple :

mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [ ]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [ ]:
# As we stated at the beginning, just like lists, tuples support indexing :
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])  # Buranƒ±n sonucunda hata verir √ß√ºnk√º tuple da index[3] bulunmamaktadƒ±r (tuple index out of range)

0
2
4

IndexError: ignored

In [ ]:
coordinates = (4, 5) # Tuples bu ≈üekilde () i√ßinde deƒüerler yazƒ±larak olu≈üturulur, listede is [] ≈üeklindeydi
print(coordinates)
print(coordinates[0]) # Indexing/Slicing olaylarƒ± listelerde olduƒüu gibidir

(4, 5)
4

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)
city_tuple.index(1)

# city_tuple[0] = 'New York'  # you can't assign a value, G√∂r√ºleceƒüi √ºzere sen tupla i√ßin bir deƒüer atayamƒ±yorsun list lerde olduƒüu gibi

ValueError: ignored

In [ ]:
coordinates = (4, 5)
coordinates[1] = 10  # G√∂r√ºleceƒüi √ºzere yukarƒ±da da bahsettiƒüimiz gibi tuple elemanlarƒ± deƒüi≈ütirilemez ('tuple' object does not support item assignment)
print(coordinates[1])

TypeError: ignored

In [ ]:
coordinates = [(4, 5), (19, 0), (80, 160), (21, 45)]  # Ama bu ≈üekilde tuple lardan olu≈üan bir listede meydana getirebiliriz
coordinates[1] = 10 # Burada index[1] deki tuple yerine farklƒ± bir sayƒ± yerle≈ütirebildik
print(coordinates[2])
print(coordinates[1]) # (19, 0) tuple yerine integer 10 geldi

(80, 160)
10

In [ ]:
number = tuple(range(11)) # range(1,11) de olurdu
print(number)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j]) # Hata verir √ß√ºnk√º append() ve remove() √∂zellikleri tuple lar i√ßin ge√ßerli deƒüildir
mix_value.remove(['fruit'])

print(len(mix_value))

AttributeError: ignored

In [ ]:
import sys # getsizeof() methodunu √ßaƒüƒ±rabilmek i√ßin yazmak ≈üarttƒ±r
x = [1,2,3] # List ve tupla larƒ±n boyut kar≈üƒ±la≈ütƒ±rmasƒ±
y = (1,2,3)

print(sys.getsizeof(x)) # Bite cinsinden hafƒ±zada yer kaplamasƒ± ile ilgili kullanƒ±m. Dolayƒ±sƒ±yla tupple lar listelere g√∂re daha az yer kaplar
print(sys.getsizeof(y))

96
80

In [ ]:
# It is easy to convert between list and tuple as in the examples below :
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)
my_list = list(my_tuple)
print(type(my_list), my_list)
print()
my_list = [1, 4, 3, 4, 5, 6, 7, 4]
my_tuple = tuple(my_list)
print(type(my_tuple), my_tuple)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [ ]:
tuple_1 = 'h', 'a', 'p', 'p', 'y'
tuple_2 = 1, 3, 5
print(tuple_1)
print(type(tuple_1))
print(tuple_2)
print(type(tuple_2))

('h', 'a', 'p', 'p', 'y')
<class 'tuple'>
(1, 3, 5)
<class 'tuple'>

In [ ]:
vowels = ('a', 'e', 'i', 'o', 'i', 'u')

index = vowels.index('e') 
print('The index of e:', index)

index1 = vowels.index('i') # element 'i' is searched, index of the first 'i' is returned
print('The index of i:', index1)

The index of e: 1
The index of i: 2

In [ ]:
vowels = ('a', 'e', 'i', 'o', 'i', 'u') 

count = vowels.count('i') 
print('The count of i is:', count)

count = vowels.count('p')  # Burada "p" elemanƒ± tuple i√ßinde olmadƒ±ƒüƒ± i√ßin 0 √ßƒ±kartƒ±r
print('The count of p is:', count)

The count of i is: 2
The count of p is: 0

In [ ]:
mix_tuple = ("11",11,[2, "two", ("six", 6)], (5, "fair"))
print(mix_tuple [2][2][0]) # six yazdƒ±rabilmek i√ßin tƒ±pkƒ± list lerde olduƒüu gibi indexing i≈ülemini ger√ßekle≈ütirebiliyoruz

six

In [ ]:
mix_tuple = ("11",11,[2, "two", ("six", 6)], (5, "fair"))
str_six = mix_tuple [2][1:3] # List slicing yapƒ±lƒ±rsa √ßƒ±ktƒ±sƒ± yine liste olur, tuple slicing yapƒ±lƒ±rsa √ßƒ±ktƒ±sƒ± tuple olur !!!
print(str_six, type(str_six), sep="\n")
tup_fair = mix_tuple [3][0:2] # Tuple slicing yapƒ±lƒ±rsa √ßƒ±ktƒ±sƒ± tuple olur !!!
print(tup_fair,type(tup_fair), sep="\n")

['two', ('six', 6)]
<class 'list'>
(5, 'fair')
<class 'tuple'>

In [ ]:
mix_tuple = ("11",11,[2, "two", ("six", 6)], (5, "fair"))
last_item = mix_tuple[-1][-1]
print(last_item, type(last_item), sep="\n" )

fair
<class 'str'>

# **DICTIONARIES**

In [ ]:
# The dictionary is enclosed by curly braces üëâüèª{}. 
# Each pair (item) is separated by a comma and the key and value are separated by a colon.

empty_dict_1 = {} # Bu kodlarƒ±n ikisi de bo≈ü dictionary yaratƒ±r

empty_dict_2 = dict()

In [ ]:
empty_dict_1 = {}

print(type(empty_dict_1)) # G√∂r√ºleceƒüi √ºzere tipi "dict" ≈üeklinde gelir

<class 'dict'>

In [ ]:
my_dict = {'key1': 'value1',
           'key2': 'value2',   # The basic form of dict looks like 
           'key3': 'value3'    # Dictionaries uzunluƒüu items (key : value) sayƒ±sƒ± kadardƒ±r
            }
print(len(my_dict))

3

In [ ]:
# Key tarafƒ±nda (ilk taraf) string ve integer, boolean ,float, tuple olabilir, value kƒ±smƒ±nda (ikinci taraf) her≈üey olabilir

first_dict = {1 : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1,2) : "Clarusway" }
print(first_dict)

{1: 'one', 'two': 2, False: [1, 2, 3], 1.5: ('one', 'two'), (1, 2): 'Clarusway'}

In [ ]:
first_dict = {[1, 2] : "one", "two" : 2, False : [1, 2, 3] } # Listeler g√∂r√ºld√ºƒü√º gibi key kƒ±smƒ±nda kullanƒ±lamƒ±yor

TypeError: ignored

In [ ]:
first_dict = {{1 :"bir"} : "one", "two" : 2, False : [1, 2, 3] } # Dictionaries de g√∂r√ºld√ºƒü√º gibi listler gibi value kƒ±smƒ±nda olabiliyorken, key kƒ±smƒ±nda olamaz

TypeError: ignored

In [ ]:
# A≈üaƒüƒ±daki iki ≈üekilde dictionary olu≈üturulabilir.

grocer1 = {'fruit' : 'apple', 'drink' : 'water'}
grocer2 = dict(fruit = 'apple', drink = 'water')
print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [ ]:
xx = dict(bir = "one", iki = 'two') # dict() fonksiyonu ile dictionary olu≈üturma
print(xx)

# Do not use quotes for keys when using the dict() function to create a dictionary.!!!!!!!!!!!!!!
# You cannot use iterables as keys to create a dictionary.

{'bir': 'one', 'iki': 'two'}

In [ ]:
xx = dict(1="one", 2='two') # G√∂r√ºld√ºƒü√º gibi integerlar key kƒ±smƒ±nda dict() fonksiyonu ile kullanƒ±lamƒ±yorlar bu sefer !!!
print(xx)

SyntaxError: ignored

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # Bu ≈üekilde yeni bir item da eklenebilmektedir, sonuna ekler

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [ ]:
city1 = "ƒ∞STANBUL"
city2 = "ANKARA"
population = 1000

cities = {1 : city1, 2 : city2, "n√ºfus" : population} # G√∂r√ºleceƒüi √ºzere bu sefer string value lar bir deƒüi≈ükene atƒ±larak dic i√ßine yazƒ±lmƒ±≈ütƒ±r bu sefer
print(cities)
print(cities[2]) # Burada key olan 2 yi [] i√ßinde yazarak value olan ANKARA yƒ± √ßƒ±ktƒ± olarak alabildik
print(cities["n√ºfus"]) # Burada da 1000 e ula≈ümak i√ßin onun key i olan "n√ºfus" u [] i√ßerisine yazarak √ßaƒüƒ±rdƒ±k

{1: 'ƒ∞STANBUL', 2: 'ANKARA', 'n√ºfus': 1000}
ANKARA
1000

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }
state_capitals['California'] = 'ƒ∞stanbul'       # Bu ≈üekilde mevcut bir key value'su da deƒüi≈ütirilebilmektedir
print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'ƒ∞stanbul', 'Georgia': 'Atlanta'}

In [ ]:
# Note that keys and values can be of different types.

mix_values = {'animal': ('dog', 'cat'),                   # value tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # value list type
              'number': 40,                               # value int type
              'pi': 3.14,                                 # value float type
              1 : "String",                               # value str type
              'is_good' : True}                           # value bool type

mix_keys = {22 : "integer",    # key int type
            1.2 : "float",     # key float type
            True : "boolean",  # key bool type
            "key" : "string"}  # key str type

print(mix_values)
print(mix_keys)

{'animal': ('dog', 'cat'), 'planet': ['Neptun', 'Saturn', 'Jupiter'], 'number': 40, 'pi': 3.14, 1: 'String', 'is_good': True}
{22: 'integer', 1.2: 'float', True: 'boolean', 'key': 'string'}

In [ ]:
family = {'name1' : 'H√ºseyin', 'name2' : 'Emine', 'name3' : 'Yavuz Ali'}
print(family)

{'name1': 'H√ºseyin', 'name2': 'Emine', 'name3': 'Yavuz Ali'}

In [ ]:
family = {'name1' : 'H√ºseyin', 'name2' : 'Emine', 'name3' : 'Yavuz Ali'}
family['name4'] = 'Mustafa' # Sonradan item ekleme
family['name5'] = '≈ûule'
print(family)

{'name1': 'H√ºseyin', 'name2': 'Emine', 'name3': 'Yavuz Ali', 'name4': 'Mustafa', 'name5': '≈ûule'}

In [ ]:
baba = "H√ºseyin"
anne = "Emine"
kardes = "Muhammed Ali"
aile = {"name1" : baba, "name2" : anne, "name3" : kardes}
print(aile)
yeni_kardes1 = "Mehmet"
yeni_kardes2 = "Ahmet"
aile["name4"], aile["name5"] = yeni_kardes1, yeni_kardes2 # Bu ≈üekilde de ekleme yapƒ±labilmektedir
print(aile)

{'name1': 'H√ºseyin', 'name2': 'Emine', 'name3': 'Muhammed Ali'}
{'name1': 'H√ºseyin', 'name2': 'Emine', 'name3': 'Muhammed Ali', 'name4': 'Mehmet', 'name5': 'Ahmet'}

In [ ]:
# And now, let's use dict() function to create a dictionary :

dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True) 
# Bu ≈üekildeki bir kullanƒ±m ile dict() fonksiyonu yardƒ±mƒ±yla bir dictionary olu≈üturmu≈ü olduk
# Bu ≈üekilde kullandƒ±ƒüƒ±mƒ±zda g√∂r√ºleceƒüi √ºzere key leri " " i√ßinde yazmamamƒ±z gerekir

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [ ]:
# Do not use quotes for keys when using the dict() function to create a dictionary.
# You cannot use iterables as keys to create a dictionary.

In [ ]:
# Aynƒ± family dictionary si dict() fonksiyonu ile olu≈üturulursa...

family = dict(name1 = 'H√ºseyin', name2 = 'Emine', name3 = 'Yavuz Ali') # Key leri "" i√ßerisine yazƒ±lmayacak, = kullanƒ±lacak, () i√ßi olacak
print(family)

{'name1': 'H√ºseyin', 'name2': 'Emine', 'name3': 'Yavuz Ali'}

In [ ]:
christopher = {}
christopher["first"] = "Christopher"
christopher["last"] = "Harrison"

susan = {}
susan["first"] = "Susan"
susan["last"] = "Ibach"

people = []
people.append(christopher)
people.append(susan)
people.append({"first" : "Bill", "last" : "Gates"})
print(people)

[{'first': 'Christopher', 'last': 'Harrison'}, {'first': 'Susan', 'last': 'Ibach'}, {'first': 'Bill', 'last': 'Gates'}]

In [ ]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

**Main Operations with Dictionaries**

There are several methods that allow us to access items, keys, and values. 
You can access all items using the .items() method, all keys using the .keys() method, and all values using the .values() method:

In [ ]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n') # Bir dictionary nin items larƒ±nƒ± yazdƒ±rma fonksiyonu dict_name.items(),
print(dict_by_dict.keys(), '\n')  # Bir dictionary nin key lerini yazdƒ±rma fonksiyonu dict_name.keys(),
print(dict_by_dict.values())      # Bir dictionary nin value larƒ±nƒ± yazdƒ±rma fonksiyonu dict_name.values(),

# √áƒ±ktƒ±larda da g√∂r√ºleceƒüi √ºzere bu methodlar dic_items(), dict_keys, dict_values() ≈üeklinde ve parantez i√ßinde liste ve liste i√ßinde de items larƒ± tuple lar halinde g√∂sterir
# Biz bunlarƒ± list() fonksiyonu ile kolaylƒ±kla liste ≈üeklinde g√∂r√ºnt√ºleyebiliriz

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [ ]:
family = dict(name1 = 'H√ºseyin', name2 = 'Emine', name3 = 'Yavuz Ali')


print(family.items())
print(family.keys())
print(family.values())

print()

print(list(family.items()), "\n") # Bu ≈üekilde list() fonksiyonu ile liste ≈üeklinde de yazdƒ±rabiliriz !!! G√∂r√ºleceƒüi √ºzere items list elemanƒ± olarak tuple tuple yazdƒ±rƒ±lƒ±r
print(list(family.keys()), "\n")
print(list(family.values()))

dict_items([('name1', 'H√ºseyin'), ('name2', 'Emine'), ('name3', 'Yavuz Ali')])
dict_keys(['name1', 'name2', 'name3'])
dict_values(['H√ºseyin', 'Emine', 'Yavuz Ali'])

[('name1', 'H√ºseyin'), ('name2', 'Emine'), ('name3', 'Yavuz Ali')]

['name1', 'name2', 'name3']

['H√ºseyin', 'Emine', 'Yavuz Ali']

In [ ]:
# You can add new items using the .update() method. Bir s√∂zl√ºƒüe ba≈üka bir s√∂zl√ºk (yani birden fazla eleman) eklenebilir

dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False}) # update() ile item eklerken .update({'is_bad': False}) ≈üeklinde olduƒüuna dikkat et
dict_by_dict["naber?"] = "Nasƒ±lsƒ±n?"   # Buradaki iki kullanƒ±m da bir dictionary e item ekelemek i√ßin kullanƒ±lƒ±r

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False, 'naber?': 'Nasƒ±lsƒ±n?'}

In [ ]:
family = dict(name1 = 'H√ºseyin', name2 = 'Emine', name3 = 'Yavuz Ali')
family.update({"name4" : "Hasan", "name5" : "Mustafa"}) # ƒ∞ki yeni item eklendi update() methodu ile
print(family)

{'name1': 'H√ºseyin', 'name2': 'Emine', 'name3': 'Yavuz Ali', 'name4': 'Hasan', 'name5': 'Mustafa'}

In [ ]:
# You can also remove an item using the del function:
# The formula syntax is : del dictionary_name['key'].

dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['animal'] # Burada dolayƒ±sƒ±yla (animal : dog) itemi silinmi≈ü oldu

print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [ ]:
family = {'name1' : 'H√ºseyin', 'name2' : 'Emine', 'name3' : 'Yavuz Ali'}
family['name4'] = 'Mustafa'     # name4 olarak Mustafa eklendi
family.update({'name5':'≈ûule'}) # name5 olarak ≈ûule eklendi
print(family)
del family['name2'] # G√∂r√ºld√ºƒü√º gibi del() fonksiyonu ile (i√ßine key alƒ±r) istenilen item √ßƒ±karƒ±labilir
print(family)

{'name1': 'H√ºseyin', 'name2': 'Emine', 'name3': 'Yavuz Ali', 'name4': 'Mustafa', 'name5': '≈ûule'}
{'name1': 'H√ºseyin', 'name3': 'Yavuz Ali', 'name4': 'Mustafa', 'name5': '≈ûule'}

In [ ]:
family = {'name1' : 'H√ºseyin', 'name2' : 'Emine', 'name3' : 'Yavuz Ali'}
family['name4'] = 'Mustafa'
family.update({'name5':'≈ûule'})
print(family)
del family['name2'], family['name5'] # Bu ≈üekilde birden fazla item da silebiliriz alt alta da ayrƒ± ayrƒ± del() ile yazƒ±labilirdi
print(family)

{'name1': 'H√ºseyin', 'name2': 'Emine', 'name3': 'Yavuz Ali', 'name4': 'Mustafa', 'name5': '≈ûule'}
{'name1': 'H√ºseyin', 'name3': 'Yavuz Ali', 'name4': 'Mustafa'}

In [ ]:
# Using the "in" and the "not in" operator, you can check if the "KEY" is in the dictionary.
# When we use the "in" operator; if the key is in the dictionary, the result will be True otherwise False.
# When we use the "not in"; if the key is not in the dictionary, the result will be True otherwise False.

dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict)  # pi keyi dict_by_dict i√ßinde mi? Evet (True)
print('animal' in dict_by_dict) # animal dict i√ßerisinde mi? Hayƒ±r  (False)
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'. Evet deƒüil! (True)

True
False
True

In [ ]:
"bir" in ["bir", 1, False, 3.0j] # in ve not in t√ºm collectionslarda kullanƒ±labilir, g√∂r√ºld√ºƒü√º √ºzere bu bir list

True

In [ ]:
family = {'name1' : 'H√ºseyin', 'name2' : 'Emine', 'name3' : 'Yavuz Ali'}
print("emine" in family.values()) # Phyton case sensitive olduƒüu i√ßin √ßƒ±ktƒ± False olur
print("Emine" in family.values()) # Emine value'su family dictionary si i√ßinde var mƒ± ? demektir

False
True

In [ ]:
monthConversions = {  
                    
    "Jan": "January",  # ƒ∞lk kƒ±sƒ±m key, ikinci kƒ±sƒ±m value. Key lerin herbirisi unique olmalƒ±dƒ±r. Key ler sadece string olmak zorunda deƒüildir, number ≈üeklinde de olabilir
    "Feb": "February",
    "Mar": "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December",
}

print(monthConversions["Nov"]) # Bu ≈üekilde dictionary i√ßerisinde key kar≈üƒ±lƒ±ƒüƒ± olan value √ßaƒüƒ±rma i≈ülemini ger√ßekle≈ütirebiliriz

print(monthConversions.get("Dec")) # Bu ≈üekilde get() fonksiyonu ile de √ßaƒüƒ±rma i≈ülemini ger√ßekle≈ütirebiliriz

print(monthConversions.get("Luv"))  # Eƒüer olmayan bir key yazƒ±lƒ±rsa bu ≈üekilde None sonucu alƒ±nƒ±r

print(monthConversions.get("Luv", "Not a valid key")) # Olmayan bir key yazƒ±lƒ±rsa g√∂sterilmek istenen √ßƒ±ktƒ± bu ≈üekilde get() fonksiyonu i√ßinde ikinci sƒ±rada yazƒ±labilir

### **Nested (ƒ∞√ß i√ße) Dictionaries**

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [ ]:
# We can use square brackets to access internal dicts :

school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info'], "\n")                    # Hepsini yine list() fonksiyonu ile listeleyebilirdik
print(school_records['personal_info']['teen'], "\n")
print(school_records['personal_info']['teen']['marry'], "\n")
print(school_records['personal_info']['teen']['marry']['age'], "\n")
print(len(school_records['personal_info']['teen']['marry']), "\n")    # √áƒ±ktƒ±da da g√∂r√ºleceƒüi √ºzere en i√ßteki dictionary eleman sayƒ±sƒ± (class,age items) 2 dir
print(school_records['personal_info']['kid']['tom']['class'], "\n")   # intermediate value'suna ula≈ümak i√ßin
print(len(school_records['personal_info']['kid']['tom']['class']))    # intermediate value'sunun uzunluƒüunu/karakter sayƒ±sƒ±nƒ± √ßƒ±kartƒ±r

{'kid': {'tom': {'class': 'intermediate', 'age': 10}, 'sue': {'class': 'elementary', 'age': 8}}, 'teen': {'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}}

{'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}

{'class': 'high school', 'age': 16}

16

2

intermediate

12

Dictionaries strongly resemble JSON syntax. The native json module in the Python standard library can be used to convert between JSON and dictionaries.

What is 'JSON' and what is it used for?

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

print(school_records["grades_info"]["teen"]["joseph"]) # dic olarak √ßƒ±kartƒ±r
print(list(school_records["grades_info"]["teen"]["joseph"])) # list olarak √ßƒ±kartƒ±r
print(list(school_records["grades_info"]["teen"]["joseph"].items())) # itemlarƒ± list olarak √ßƒ±kartƒ±r. B√∂yle olunca itemalar list i√ßinde tuple ≈üeklinde g√∂sterilir

# 3 Farklƒ± ≈üekilde √ßƒ±ktƒ±sƒ±nƒ± alabiliriz

{'coding': 80, 'math': 89}
['coding', 'math']
[('coding', 80), ('math', 89)]

In [ ]:
friends = {
    "friend1" : {"first" : "H√ºseyin", "last" : "Yaman", "age" : 34},
    "friend2" : {"first" : "Hakan", "last" : "Torun", "age" : 30}
}
print(friends)

{'friend1': {'first': 'H√ºseyin', 'last': 'Yaman', 'age': 34}, 'friend2': {'first': 'Hakan', 'last': 'Torun', 'age': 30}}

In [ ]:
favourite = {
   "friends" : {
       "friend1" : {"first" : "H√ºseyin", "last" : "Yaman", "age" : 34},
       "friend2" : {"first" : "Hakan", "last" : "Torun", "age" : 30}
   },

   "family" : {
       "family1" : {"first" : "Emine", "last" : "Yaman", "age" : 33 },
       "family2" : {"first" : "Yavuz Ali", "last" : "Yaman", "age" : 30},
       "family3" : {"first" : "Hasan", "last" : "Yaman", "age" : 30}
   }
}
print(favourite)

{'friends': {'friend1': {'first': 'H√ºseyin', 'last': 'Yaman', 'age': 34}, 'friend2': {'first': 'Hakan', 'last': 'Torun', 'age': 30}}, 'family': {'family1': {'first': 'Emine', 'last': 'Yaman', 'age': 33}, 'family2': {'first': 'Yavuz Ali', 'last': 'Yaman', 'age': 30}, 'family3': {'first': 'Hasan', 'last': 'Yaman', 'age': 30}}}

In [ ]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}

print(customers["insurance"][5]["age"]) #G√∂r√ºleceƒüi √ºzere str keyler str olarak, integer keyler int olarak [] i√ßine yazƒ±lƒ±r access yapƒ±lƒ±rken

22

## **SETS (K√úMELER)**

In [ ]:
# A set is a collection of elements with no repeats (K√ºmelerde listelerde olduƒüu gibi tekrar eden elemanlar yazamazsƒ±n, tek olarak yazdƒ±rƒ±r)
# Basic uses include membership testing and eliminating duplicate entries. 
# Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.
# (Python'da k√ºme, matematikteki k√ºmelerin sahip olduƒüu b√ºt√ºn √∂zellikleri ta≈üƒ±r. Yani matematikteki k√ºmelerden bildiƒüimiz kesi≈üim, birle≈üim ve fark gibi √∂zellikler Python‚Äôdaki k√ºmeler i√ßin de ge√ßerlidir.)

In [ ]:
set_1 = {'red', 'blue', 'pink', 'red'}
colors = 'red', 'blue', 'pink', 'red', 'yellow'

set_1 = set(colors)
print(set_1) # √áƒ±ktƒ±nƒ±n sƒ±rasƒ± deƒüi≈üik olabilir her defasƒ±nda, lakin dikkat edilirse tekrardan ka√ßƒ±nƒ±r

{'pink', 'blue', 'red', 'yellow'}

In [ ]:
# Curly braces '{}' or the set() function can be used to create sets. 
# But the only way to create an empty set is: use the set() function. 
# Note that, to create an empty set you have to use set() function. 
# Do not use {} to create an empty set. Otherwise, you will create an empty dictionary.

In [ ]:
empty_set = set() # Bo≈ü bir k√ºme sadece bu ≈üekilde olu≈üturulabilir
empty_dic = {}    # Bu ≈üekilde olu≈üturulan bo≈ü bir dictionary olur
print(type(empty_set))
print(type(empty_dic))

<class 'set'>
<class 'dict'>

In [ ]:
s = set('unselfishness') # Bu ≈üekilde string ifadelerle bir k√ºme olu≈üturulabilir set() fonksiyonu yardƒ±mƒ±yla

print(s) # unordered

{'i', 'u', 'e', 'n', 'l', 's', 'h', 'f'}

In [ ]:
print(len(set('listen to the voice of enlisted')))
print(set('listen to the voice of enlisted')) # Tekrar edenleri yazmaz

13
{'h', 'o', 'f', 'n', 'e', 'i', 'd', ' ', 'v', 't', 'l', 's', 'c'}

In [ ]:
a = set("04/14/2021") # Bu elemanlarƒ±na ayƒ±rƒ±r, t√ºm collections fonksitonlarƒ± i√ßin ge√ßerlidir(list,tuple,set)
print(a)
b = {"04/14/2021"}
print(b)

c = list("04/14/2021")
print(c)

d = tuple("04/14/2021")
print(d)

{'2', '1', '/', '4', '0'}
{'04/14/2021'}
['0', '4', '/', '1', '4', '/', '2', '0', '2', '1']
('0', '4', '/', '1', '4', '/', '2', '0', '2', '1')

In [ ]:
# Create a list that shows the unique elements
given_list = [1, 2, 3, 3, 3, 3, 4, 4, 5, 5,]
print(set(given_list))

{1, 2, 3, 4, 5}

In [ ]:
# We will now see how sets have unordered and unique objects.
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'} # {} i√ßinde : lar yok 

print(colorset)

{'red', 'yellow', 'darkblue', 'orange', 'purple'}
{'red', 'yellow', 'darkblue', 'orange', 'purple'}

In [ ]:
letter = "a b c d e f g h i j k l m n o p r s t u v y z".split() #split() metodu ile g√∂r√ºld√ºƒü√º gibi string ifadenin karakterlerinin hepsini ayrƒ± ayrƒ± liste ≈üeklinde √ßƒ±karƒ±r
print(letter) # Burada liste olu≈ütu
print(set(letter)) # set() fonksiyonu ile listemizi k√ºme haline getirdik, g√∂r√ºld√ºƒü√º gibi sƒ±ra olarak unordered gelir, her defasƒ±nda deƒüi≈üebilir ama tekrarlar varsa tek alƒ±r

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'y', 'z']
{'j', 'u', 'e', 'a', 'g', 'i', 'v', 'k', 'n', 'r', 'c', 'p', 'l', 's', 'h', 'b', 'o', 'f', 'd', 'z', 'm', 't', 'y'}

In [ ]:
test = {1, "bir", 1.0} # G√∂r√ºld√ºƒü√º gibi bu k√ºmede 1 ile 1.0 birbirinin aynƒ±sƒ± olduƒüu i√ßin unique olarak sadece birini aldƒ± uzunluƒüu da dolayƒ±sƒ±yla 2 oldu
print(test)
print(len(test))

{1, 'bir'}
2

In [ ]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list) # set() fonksiyonu ile listeyi ilk olarak k√ºmeye √ßevirebildik, tekrar eden ifadeler tek olarak yazƒ±ldƒ±
flowerlist = list(flowerset) # Takiben list() fonksiyonu ile tekrardan listeye √ßevirdik

print(flowerset) 
print(flowerlist)

{'violet', 'orchid', 'rose', 'carnation'}
['violet', 'orchid', 'rose', 'carnation']

In [ ]:
a = {'carnation', 'orchid', 'rose', 'violet'}
b = {'rose', 'orchid', 'rose', 'violet', 'carnation'}
print(a)
print(b)  # √áƒ±ktƒ±lar aynƒ± olur, k√ºmelerde sƒ±ralamlar farklƒ± olabilir ama bu iki k√ºme aynƒ±dƒ±r
print(a == b)

{'orchid', 'violet', 'rose', 'carnation'}
{'violet', 'carnation', 'rose', 'orchid'}
True

In [ ]:

set_2 = set([1,2,2,3,4,5]) # Bu kullanƒ±mlarƒ±n hepsi ile set yapƒ±labilmektedir
set_3 = set((1,2,3,4))
set_4 = {1,2,3,4}


print(set_2)
print(set_3)
print(set_4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 2, 3, 4}

In [ ]:
set_1 = set([[1,2],[3,4],[4,5]]) # Bu ≈üekilde bir kullanƒ±m ile (i√ß i√ße list) set olu≈üturulamamaktadƒ±r
print(set_1)

TypeError: ignored

In [ ]:
set_3 = set(((1,2),(3,4),(4,6),(1,2))) # Fakat g√∂r√ºleceƒüi √ºzere i√ß i√ße tuple ile bir set yapƒ±labilmektedir
print(set_3)

{(1, 2), (3, 4), (4, 6)}

### **Main Operations with Sets**

print(a - b)  # same as '.difference()' method

print(a.difference(b)) # a difference from b

print(a | b)  # same as '.union()' method

print(a.union(b)) # unification of a with b

print(a & b)  # same as '.intersection()' method

print(a.intersection(b)) # intersection of a and b

These methods are :

.add() : Adds a new item to the set.

.remove() : Allows us to delete an item.

.intersection() : Returns the intersection of two sets.

.union() : Returns the unification of two sets.

.difference() : Gets the difference of two sets.

In [ ]:
a = set('abracadabra')
print(a) # G√∂r√ºleceƒüi √ºzere tekrarlar gitti

{'d', 'b', 'a', 'c', 'r'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a)
print(b)

print(a - b)  # same as '.difference()' method (a k√ºmesinde olup b k√ºmesinde olmayanlar demektir)
print(a.difference(b)) # Bu ≈üekilde difference() methodu ile de bulunabilmektedir.

{'d', 'b', 'a', 'c', 'r'}
{'m', 'a', 'l', 'c', 'z'}
{'d', 'b', 'r'}
{'d', 'b', 'r'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a)
print(b)

print(a | b)  # same as '.union()' method (a birle≈üim b k√ºmesi demektir)
print(a.union(b)) # Bu ≈üekilde union() methodu ile de bulunabilmektedir

{'d', 'b', 'a', 'c', 'r'}
{'m', 'a', 'l', 'c', 'z'}
{'d', 'b', 'm', 'a', 'c', 'l', 'z', 'r'}
{'d', 'b', 'm', 'a', 'c', 'l', 'z', 'r'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a)
print(b)

print(a & b)  # same as '.intersection()' method (a kesi≈üim b k√ºmesi)
print(a.intersection(b)) # bu ≈üekilde intersection() methodu ile de bulunabilmektedir

{'d', 'b', 'a', 'c', 'r'}
{'m', 'a', 'l', 'c', 'z'}
{'a', 'c'}
{'a', 'c'}

In [ ]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

a.add('c') # we add 'c' again into the set
print(a)

{'d', 'b', 'a', 'r'}
{'d', 'b', 'a', 'c', 'r'}

In [ ]:
print(set('listen to the voice of enlisted'))
print(len(set('listen to the voice of enlisted'))) # √á√ºnk√º aynƒ± olanlarƒ± √ßƒ±kartƒ±r (unique olmalƒ±)

{'d', ' ', 'i', 't', 'h', 'e', 'v', 'o', 'f', 'n', 'l', 'c', 's'}
13

In [ ]:
# Return True if all items set x are present in set y: Yani bir k√ºme diƒüerinin alt k√ºmesi mi diye bakƒ±yor set.issubset(set) ≈üeklinde kullanƒ±lƒ±r
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

In [ ]:
abd = set("Washington")
nz = set("Wellington")

print(abd.union(nz))
print(abd.intersection(nz))
print(abd.difference(nz))
print()
print(abd | nz)
print(abd & nz)    # Bu kƒ±sƒ±mda i≈üaretlerle g√∂sterimleri
print(abd - nz)

{'h', 'o', 'n', 'e', 'i', 'a', 't', 'W', 'g', 's', 'l'}
{'o', 'n', 'i', 'W', 'g', 't'}
{'a', 'h', 's'}

{'h', 'o', 'n', 'e', 'i', 'a', 't', 'W', 'g', 's', 'l'}
{'o', 'n', 'i', 'W', 'g', 't'}
{'a', 'h', 's'}