**Negative Indexing & Slicing in Lists**

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4]) # Negatif indexlemede -1 den başlar, hatırlayacak olursak pozitif indexlemede 0 dan başlıyordu

London

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:]) # index[-3] ve sonrasını yazdır demektir

['lobster', 'squid', 'octopus']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3]) # index[-3] e kadar olanları baştan başlayarak yazdır demektir, index[-3] dahil değil !

['swordfish', 'shark', 'whale', 'jellyfish']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # Step "-" olduğundan sondan başlayarak sola doğru 1 er atlayarak git demektir, aslında o da listeleri tersten yazdırma anlamına gelir

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2]) # Step "-" olduğundan sondan başlayarak sola doğru 2 şer atlayarak git demektir

['octopus', 'lobster', 'whale', 'swordfish']

In [ ]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1]) # Step - olduğundan index[7] den başlayarak sola doğru 1 er atlayarak index[3] e kadar yazdır demektir, index[3] dahil değil !
print(odd_no[2:6:-1]) # Step - olduğundan index[2] den başlayarak sola doğru 1 er atlayarak yazdır demektir, lakin index[2] nin soluna doğru gidildiğinde index[6] olmadığı için bu şekilde boş liste verir

[8, 7, 6, 5]
[]

In [ ]:
harfler = "a b c d e f g h i j".split() # split fonksiyonu ile kolayca liste yapabiliriz, içerisindeki karaktere göre böler 
print(harfler) # Aslında burada boşluklardan ayırarak liste yaptı

harfler = "a,b,c,d,e,f,g,h,i,j".split(",") # split fonksiyonu ile kolayca liste yapabiliriz, içerisindeki karaktere göre böler 
print(harfler) # Aslında burada da virgüllerden ayırarak liste yaptı, fakat her ikisinin çıktısı da aynı olur çünkü listede elemanlar virgüllerle ayrılır

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
names = ["ahmet", "mehmet", "hasan", "hüseyin"]
result = sorted(names) # sorted() fonksiyonu alfabetik sıralamaya göre sıralar
print(result)

['ahmet', 'hasan', 'hüseyin', 'mehmet']

In [ ]:
cities = ["Addis Ababa", "Tokyo", "Rome", "İstanbul", "Rio"]
print(sorted(cities)) # Alfabetik sıraya göre sıraladık
print(sorted(cities, key=len)) # Şehirlerin uzunluklarına göre sıraladık.(ör: sorted()) üzerine gelince gözükür fonkiyonların parametreleri)
                               # key parameteresine yazılacak olan fonksiyonun işlevine göre sıralar, burada len() fonksiyonu kullanıldı
print(sorted(cities, key=len, reverse=True)) # Burada da sorted() fonksiyon parametrelerinden reverse default olarak False gelir onu True yaparak listeyi tersten yazdırabildik
print(cities) # Görüleceği üzere orjinal liste aynı kaldı

['Addis Ababa', 'Rio', 'Rome', 'Tokyo', 'İstanbul']
['Rio', 'Rome', 'Tokyo', 'İstanbul', 'Addis Ababa']
['Addis Ababa', 'İstanbul', 'Tokyo', 'Rome', 'Rio']
['Addis Ababa', 'Tokyo', 'Rome', 'İstanbul', 'Rio']

In [ ]:
cities = ["Addis Ababa", "Tokyo", "Rome", "İstanbul", "Rio"]
cities.sort(key = len, reverse = False ) # Bu şekilde de yapılabilir. sort() fonksiyonu kullanımı. Fakat burada sort() fonksiyonu ile listeyi kalıcı olarak değiştiriyoruz
print(cities)

['Rio', 'Rome', 'Tokyo', 'İstanbul', 'Addis Ababa']

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3, 4, 7, 4, 3, 2, 6, 8, 7, 6, 5, 3, 3, 4, 7, 9, 3, ]

most_frequent = max(numbers, key = numbers.count) # Burada max() fonksiyonu keyi olarak count belirledik, ve listenin içinde en çok geçen elemanı verir
                                                  # count() fonksiyonu da bir list fonksiyonu olduğu için list ismi ile birlikte belirtilmelidir. len() fonksiyonunu key için kullanırken böyle birşey yok
repeat = numbers.count(most_frequent)

result = f"the most frequent number is {most_frequent} and it was {repeat} times repeated"
print(result)

the most frequent number is 3 and it was 8 times repeated

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]
new_list = []

for x in my_list:
  if x % 2 != 0:
    new_list.append(pow(x,2))

print(new_list)

[1, 9, 25]

In [ ]:
# [expression for item in list execution body if condition]

my_list = [1, 2, 3, 4, 5, 6]
print([x ** 2 for x in my_list if x % 2 != 0])

[1, 9, 25]

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0], escapes[2][1])

print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, \
 two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose,  two favorite colors are blue and green.

# **TUPLES**
The most important difference from the list is that the tuple is immutable. 

Therefore, methods like append() or remove() do not exist in the operations of this type.

Tuples are immutable and faster than lists.

We used square brackets 👉🏻'[]' to define the lists. In the tuple, normal parentheses 👉🏻'()' are used.

In [ ]:
empty_tuple = () # Let's create a simple empty tuple

In [ ]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [ ]:
# If you want to create a single element tuple, you should use a comma.

try_tuple = ('love')
print(try_tuple)
print(type(try_tuple)) # it's not tuple type. Görüleceği üzere tipi string oldu, çünkü tek elemanın sonunda "," yok

love
<class 'str'>

In [ ]:
# Remember to always use a comma when defining a singleton tuple.

try_tuple = ('love',) # Tek elemanın sonunda virgül var
print(try_tuple)
print(type(try_tuple)) # Görüldüğü gibi tipi bu sefer tuple oldu

('love',)
<class 'tuple'>

In [ ]:
x = ([4,6,8])
print(type(x))
x = ([4,6,8],) # Görüleceği üzere tek bir , ile tuple yapabildik
print(type(x))

<class 'list'>
<class 'tuple'>

In [ ]:
my_tuple = ("Solar") # Görüldüğü gibi burada , olmadığı için bunu tuple olarak algılamadı
print(my_tuple, type(my_tuple), sep="\n")

Solar
<class 'str'>

In [ ]:
planets = 'mercury', 'jupiter', 'saturn' # Görüleceği üzere Phyton bu şekilde parantezsiz yazılsa dahi onu bir tuple olarak algılar

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [ ]:
x = 1, 2, 3  # Phyton parantez olmasa da bu şekilde , ile yapılan kullanımları hayali parantez ile tamamlar ve tuple olarak kabul eder
print(type(x))

<class 'tuple'>

In [ ]:
aa = "a", "b", "c"
print(type(aa))

<class 'tuple'>

In [ ]:
bb = ("aa") # Görülecei üzere burada , olmadığı için str olarak algıladı
print(type(bb))

<class 'str'>

In [ ]:
cc = "aa",  # Burada ise parantez yok tek eleman virgül var ve tuple olarak algıladı
print(type(cc))

<class 'tuple'>

In [ ]:
# Another way to create a tuple is to call the tuple() function. İçine iterable object alır

empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [ ]:
# It is easy to convert between list and tuple as in the examples below :

my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple) # Bu şekilde tuple'ı kolayca list'e çevirebildik
print(type(my_list), my_list)

my_tuple = tuple(my_list) # Tam tersi de mümkündür
print(type(my_tuple), my_tuple)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]
<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [ ]:
# An iterable string can be converted to a tuple :

mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [ ]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [ ]:
# As we stated at the beginning, just like lists, tuples support indexing :
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])  # Buranın sonucunda hata verir çünkü tuple da index[3] bulunmamaktadır (tuple index out of range)

0
2
4

IndexError: ignored

In [ ]:
coordinates = (4, 5) # Tuples bu şekilde () içinde değerler yazılarak oluşturulur, listede is [] şeklindeydi
print(coordinates)
print(coordinates[0]) # Indexing/Slicing olayları listelerde olduğu gibidir

(4, 5)
4

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)
city_tuple.index(1)

# city_tuple[0] = 'New York'  # you can't assign a value, Görüleceği üzere sen tupla için bir değer atayamıyorsun list lerde olduğu gibi

ValueError: ignored

In [ ]:
coordinates = (4, 5)
coordinates[1] = 10  # Görüleceği üzere yukarıda da bahsettiğimiz gibi tuple elemanları değiştirilemez ('tuple' object does not support item assignment)
print(coordinates[1])

TypeError: ignored

In [ ]:
coordinates = [(4, 5), (19, 0), (80, 160), (21, 45)]  # Ama bu şekilde tuple lardan oluşan bir listede meydana getirebiliriz
coordinates[1] = 10 # Burada index[1] deki tuple yerine farklı bir sayı yerleştirebildik
print(coordinates[2])
print(coordinates[1]) # (19, 0) tuple yerine integer 10 geldi

(80, 160)
10

In [ ]:
number = tuple(range(11)) # range(1,11) de olurdu
print(number)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j]) # Hata verir çünkü append() ve remove() özellikleri tuple lar için geçerli değildir
mix_value.remove(['fruit'])

print(len(mix_value))

AttributeError: ignored

In [ ]:
import sys # getsizeof() methodunu çağırabilmek için yazmak şarttır
x = [1,2,3] # List ve tupla ların boyut karşılaştırması
y = (1,2,3)

print(sys.getsizeof(x)) # Bite cinsinden hafızada yer kaplaması ile ilgili kullanım. Dolayısıyla tupple lar listelere göre daha az yer kaplar
print(sys.getsizeof(y))

96
80

In [ ]:
# It is easy to convert between list and tuple as in the examples below :
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)
my_list = list(my_tuple)
print(type(my_list), my_list)
print()
my_list = [1, 4, 3, 4, 5, 6, 7, 4]
my_tuple = tuple(my_list)
print(type(my_tuple), my_tuple)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [ ]:
tuple_1 = 'h', 'a', 'p', 'p', 'y'
tuple_2 = 1, 3, 5
print(tuple_1)
print(type(tuple_1))
print(tuple_2)
print(type(tuple_2))

('h', 'a', 'p', 'p', 'y')
<class 'tuple'>
(1, 3, 5)
<class 'tuple'>

In [ ]:
vowels = ('a', 'e', 'i', 'o', 'i', 'u')

index = vowels.index('e') 
print('The index of e:', index)

index1 = vowels.index('i') # element 'i' is searched, index of the first 'i' is returned
print('The index of i:', index1)

The index of e: 1
The index of i: 2

In [ ]:
vowels = ('a', 'e', 'i', 'o', 'i', 'u') 

count = vowels.count('i') 
print('The count of i is:', count)

count = vowels.count('p')  # Burada "p" elemanı tuple içinde olmadığı için 0 çıkartır
print('The count of p is:', count)

The count of i is: 2
The count of p is: 0

In [ ]:
mix_tuple = ("11",11,[2, "two", ("six", 6)], (5, "fair"))
print(mix_tuple [2][2][0]) # six yazdırabilmek için tıpkı list lerde olduğu gibi indexing işlemini gerçekleştirebiliyoruz

six

In [ ]:
mix_tuple = ("11",11,[2, "two", ("six", 6)], (5, "fair"))
str_six = mix_tuple [2][1:3] # List slicing yapılırsa çıktısı yine liste olur, tuple slicing yapılırsa çıktısı tuple olur !!!
print(str_six, type(str_six), sep="\n")
tup_fair = mix_tuple [3][0:2] # Tuple slicing yapılırsa çıktısı tuple olur !!!
print(tup_fair,type(tup_fair), sep="\n")

['two', ('six', 6)]
<class 'list'>
(5, 'fair')
<class 'tuple'>

In [ ]:
mix_tuple = ("11",11,[2, "two", ("six", 6)], (5, "fair"))
last_item = mix_tuple[-1][-1]
print(last_item, type(last_item), sep="\n" )

fair
<class 'str'>

# **DICTIONARIES**

In [ ]:
# The dictionary is enclosed by curly braces 👉🏻{}. 
# Each pair (item) is separated by a comma and the key and value are separated by a colon.

empty_dict_1 = {} # Bu kodların ikisi de boş dictionary yaratır

empty_dict_2 = dict()

In [ ]:
empty_dict_1 = {}

print(type(empty_dict_1)) # Görüleceği üzere tipi "dict" şeklinde gelir

<class 'dict'>

In [ ]:
my_dict = {'key1': 'value1',
           'key2': 'value2',   # The basic form of dict looks like 
           'key3': 'value3'    # Dictionaries uzunluğu items (key : value) sayısı kadardır
            }
print(len(my_dict))

3

In [ ]:
# Key tarafında (ilk taraf) string ve integer, boolean ,float, tuple olabilir, value kısmında (ikinci taraf) herşey olabilir

first_dict = {1 : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1,2) : "Clarusway" }
print(first_dict)

{1: 'one', 'two': 2, False: [1, 2, 3], 1.5: ('one', 'two'), (1, 2): 'Clarusway'}

In [ ]:
first_dict = {[1, 2] : "one", "two" : 2, False : [1, 2, 3] } # Listeler görüldüğü gibi key kısmında kullanılamıyor

TypeError: ignored

In [ ]:
first_dict = {{1 :"bir"} : "one", "two" : 2, False : [1, 2, 3] } # Dictionaries de görüldüğü gibi listler gibi value kısmında olabiliyorken, key kısmında olamaz

TypeError: ignored

In [ ]:
# Aşağıdaki iki şekilde dictionary oluşturulabilir.

grocer1 = {'fruit' : 'apple', 'drink' : 'water'}
grocer2 = dict(fruit = 'apple', drink = 'water')
print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [ ]:
xx = dict(bir = "one", iki = 'two') # dict() fonksiyonu ile dictionary oluşturma
print(xx)

# Do not use quotes for keys when using the dict() function to create a dictionary.!!!!!!!!!!!!!!
# You cannot use iterables as keys to create a dictionary.

{'bir': 'one', 'iki': 'two'}

In [ ]:
xx = dict(1="one", 2='two') # Görüldüğü gibi integerlar key kısmında dict() fonksiyonu ile kullanılamıyorlar bu sefer !!!
print(xx)

SyntaxError: ignored

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # Bu şekilde yeni bir item da eklenebilmektedir, sonuna ekler

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [ ]:
city1 = "İSTANBUL"
city2 = "ANKARA"
population = 1000

cities = {1 : city1, 2 : city2, "nüfus" : population} # Görüleceği üzere bu sefer string value lar bir değişkene atılarak dic içine yazılmıştır bu sefer
print(cities)
print(cities[2]) # Burada key olan 2 yi [] içinde yazarak value olan ANKARA yı çıktı olarak alabildik
print(cities["nüfus"]) # Burada da 1000 e ulaşmak için onun key i olan "nüfus" u [] içerisine yazarak çağırdık

{1: 'İSTANBUL', 2: 'ANKARA', 'nüfus': 1000}
ANKARA
1000

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }
state_capitals['California'] = 'İstanbul'       # Bu şekilde mevcut bir key value'su da değiştirilebilmektedir
print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'İstanbul', 'Georgia': 'Atlanta'}

In [ ]:
# Note that keys and values can be of different types.

mix_values = {'animal': ('dog', 'cat'),                   # value tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # value list type
              'number': 40,                               # value int type
              'pi': 3.14,                                 # value float type
              1 : "String",                               # value str type
              'is_good' : True}                           # value bool type

mix_keys = {22 : "integer",    # key int type
            1.2 : "float",     # key float type
            True : "boolean",  # key bool type
            "key" : "string"}  # key str type

print(mix_values)
print(mix_keys)

{'animal': ('dog', 'cat'), 'planet': ['Neptun', 'Saturn', 'Jupiter'], 'number': 40, 'pi': 3.14, 1: 'String', 'is_good': True}
{22: 'integer', 1.2: 'float', True: 'boolean', 'key': 'string'}

In [ ]:
family = {'name1' : 'Hüseyin', 'name2' : 'Emine', 'name3' : 'Yavuz Ali'}
print(family)

{'name1': 'Hüseyin', 'name2': 'Emine', 'name3': 'Yavuz Ali'}

In [ ]:
family = {'name1' : 'Hüseyin', 'name2' : 'Emine', 'name3' : 'Yavuz Ali'}
family['name4'] = 'Mustafa' # Sonradan item ekleme
family['name5'] = 'Şule'
print(family)

{'name1': 'Hüseyin', 'name2': 'Emine', 'name3': 'Yavuz Ali', 'name4': 'Mustafa', 'name5': 'Şule'}

In [ ]:
baba = "Hüseyin"
anne = "Emine"
kardes = "Muhammed Ali"
aile = {"name1" : baba, "name2" : anne, "name3" : kardes}
print(aile)
yeni_kardes1 = "Mehmet"
yeni_kardes2 = "Ahmet"
aile["name4"], aile["name5"] = yeni_kardes1, yeni_kardes2 # Bu şekilde de ekleme yapılabilmektedir
print(aile)

{'name1': 'Hüseyin', 'name2': 'Emine', 'name3': 'Muhammed Ali'}
{'name1': 'Hüseyin', 'name2': 'Emine', 'name3': 'Muhammed Ali', 'name4': 'Mehmet', 'name5': 'Ahmet'}

In [ ]:
# And now, let's use dict() function to create a dictionary :

dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True) 
# Bu şekildeki bir kullanım ile dict() fonksiyonu yardımıyla bir dictionary oluşturmuş olduk
# Bu şekilde kullandığımızda görüleceği üzere key leri " " içinde yazmamamız gerekir

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [ ]:
# Do not use quotes for keys when using the dict() function to create a dictionary.
# You cannot use iterables as keys to create a dictionary.

In [ ]:
# Aynı family dictionary si dict() fonksiyonu ile oluşturulursa...

family = dict(name1 = 'Hüseyin', name2 = 'Emine', name3 = 'Yavuz Ali') # Key leri "" içerisine yazılmayacak, = kullanılacak, () içi olacak
print(family)

{'name1': 'Hüseyin', 'name2': 'Emine', 'name3': 'Yavuz Ali'}

In [ ]:
christopher = {}
christopher["first"] = "Christopher"
christopher["last"] = "Harrison"

susan = {}
susan["first"] = "Susan"
susan["last"] = "Ibach"

people = []
people.append(christopher)
people.append(susan)
people.append({"first" : "Bill", "last" : "Gates"})
print(people)

[{'first': 'Christopher', 'last': 'Harrison'}, {'first': 'Susan', 'last': 'Ibach'}, {'first': 'Bill', 'last': 'Gates'}]

In [ ]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

**Main Operations with Dictionaries**

There are several methods that allow us to access items, keys, and values. 
You can access all items using the .items() method, all keys using the .keys() method, and all values using the .values() method:

In [ ]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n') # Bir dictionary nin items larını yazdırma fonksiyonu dict_name.items(),
print(dict_by_dict.keys(), '\n')  # Bir dictionary nin key lerini yazdırma fonksiyonu dict_name.keys(),
print(dict_by_dict.values())      # Bir dictionary nin value larını yazdırma fonksiyonu dict_name.values(),

# Çıktılarda da görüleceği üzere bu methodlar dic_items(), dict_keys, dict_values() şeklinde ve parantez içinde liste ve liste içinde de items ları tuple lar halinde gösterir
# Biz bunları list() fonksiyonu ile kolaylıkla liste şeklinde görüntüleyebiliriz

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [ ]:
family = dict(name1 = 'Hüseyin', name2 = 'Emine', name3 = 'Yavuz Ali')


print(family.items())
print(family.keys())
print(family.values())

print()

print(list(family.items()), "\n") # Bu şekilde list() fonksiyonu ile liste şeklinde de yazdırabiliriz !!! Görüleceği üzere items list elemanı olarak tuple tuple yazdırılır
print(list(family.keys()), "\n")
print(list(family.values()))

dict_items([('name1', 'Hüseyin'), ('name2', 'Emine'), ('name3', 'Yavuz Ali')])
dict_keys(['name1', 'name2', 'name3'])
dict_values(['Hüseyin', 'Emine', 'Yavuz Ali'])

[('name1', 'Hüseyin'), ('name2', 'Emine'), ('name3', 'Yavuz Ali')]

['name1', 'name2', 'name3']

['Hüseyin', 'Emine', 'Yavuz Ali']

In [ ]:
# You can add new items using the .update() method. Bir sözlüğe başka bir sözlük (yani birden fazla eleman) eklenebilir

dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False}) # update() ile item eklerken .update({'is_bad': False}) şeklinde olduğuna dikkat et
dict_by_dict["naber?"] = "Nasılsın?"   # Buradaki iki kullanım da bir dictionary e item ekelemek için kullanılır

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False, 'naber?': 'Nasılsın?'}

In [ ]:
family = dict(name1 = 'Hüseyin', name2 = 'Emine', name3 = 'Yavuz Ali')
family.update({"name4" : "Hasan", "name5" : "Mustafa"}) # İki yeni item eklendi update() methodu ile
print(family)

{'name1': 'Hüseyin', 'name2': 'Emine', 'name3': 'Yavuz Ali', 'name4': 'Hasan', 'name5': 'Mustafa'}

In [ ]:
# You can also remove an item using the del function:
# The formula syntax is : del dictionary_name['key'].

dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

del dict_by_dict['animal'] # Burada dolayısıyla (animal : dog) itemi silinmiş oldu

print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [ ]:
family = {'name1' : 'Hüseyin', 'name2' : 'Emine', 'name3' : 'Yavuz Ali'}
family['name4'] = 'Mustafa'     # name4 olarak Mustafa eklendi
family.update({'name5':'Şule'}) # name5 olarak Şule eklendi
print(family)
del family['name2'] # Görüldüğü gibi del() fonksiyonu ile (içine key alır) istenilen item çıkarılabilir
print(family)

{'name1': 'Hüseyin', 'name2': 'Emine', 'name3': 'Yavuz Ali', 'name4': 'Mustafa', 'name5': 'Şule'}
{'name1': 'Hüseyin', 'name3': 'Yavuz Ali', 'name4': 'Mustafa', 'name5': 'Şule'}

In [ ]:
family = {'name1' : 'Hüseyin', 'name2' : 'Emine', 'name3' : 'Yavuz Ali'}
family['name4'] = 'Mustafa'
family.update({'name5':'Şule'})
print(family)
del family['name2'], family['name5'] # Bu şekilde birden fazla item da silebiliriz alt alta da ayrı ayrı del() ile yazılabilirdi
print(family)

{'name1': 'Hüseyin', 'name2': 'Emine', 'name3': 'Yavuz Ali', 'name4': 'Mustafa', 'name5': 'Şule'}
{'name1': 'Hüseyin', 'name3': 'Yavuz Ali', 'name4': 'Mustafa'}

In [ ]:
# Using the "in" and the "not in" operator, you can check if the "KEY" is in the dictionary.
# When we use the "in" operator; if the key is in the dictionary, the result will be True otherwise False.
# When we use the "not in"; if the key is not in the dictionary, the result will be True otherwise False.

dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict)  # pi keyi dict_by_dict içinde mi? Evet (True)
print('animal' in dict_by_dict) # animal dict içerisinde mi? Hayır  (False)
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'. Evet değil! (True)

True
False
True

In [ ]:
"bir" in ["bir", 1, False, 3.0j] # in ve not in tüm collectionslarda kullanılabilir, görüldüğü üzere bu bir list

True

In [ ]:
family = {'name1' : 'Hüseyin', 'name2' : 'Emine', 'name3' : 'Yavuz Ali'}
print("emine" in family.values()) # Phyton case sensitive olduğu için çıktı False olur
print("Emine" in family.values()) # Emine value'su family dictionary si içinde var mı ? demektir

False
True

In [ ]:
monthConversions = {  
                    
    "Jan": "January",  # İlk kısım key, ikinci kısım value. Key lerin herbirisi unique olmalıdır. Key ler sadece string olmak zorunda değildir, number şeklinde de olabilir
    "Feb": "February",
    "Mar": "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December",
}

print(monthConversions["Nov"]) # Bu şekilde dictionary içerisinde key karşılığı olan value çağırma işlemini gerçekleştirebiliriz

print(monthConversions.get("Dec")) # Bu şekilde get() fonksiyonu ile de çağırma işlemini gerçekleştirebiliriz

print(monthConversions.get("Luv"))  # Eğer olmayan bir key yazılırsa bu şekilde None sonucu alınır

print(monthConversions.get("Luv", "Not a valid key")) # Olmayan bir key yazılırsa gösterilmek istenen çıktı bu şekilde get() fonksiyonu içinde ikinci sırada yazılabilir

### **Nested (İç içe) Dictionaries**

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [ ]:
# We can use square brackets to access internal dicts :

school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info'], "\n")                    # Hepsini yine list() fonksiyonu ile listeleyebilirdik
print(school_records['personal_info']['teen'], "\n")
print(school_records['personal_info']['teen']['marry'], "\n")
print(school_records['personal_info']['teen']['marry']['age'], "\n")
print(len(school_records['personal_info']['teen']['marry']), "\n")    # Çıktıda da görüleceği üzere en içteki dictionary eleman sayısı (class,age items) 2 dir
print(school_records['personal_info']['kid']['tom']['class'], "\n")   # intermediate value'suna ulaşmak için
print(len(school_records['personal_info']['kid']['tom']['class']))    # intermediate value'sunun uzunluğunu/karakter sayısını çıkartır

{'kid': {'tom': {'class': 'intermediate', 'age': 10}, 'sue': {'class': 'elementary', 'age': 8}}, 'teen': {'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}}

{'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}

{'class': 'high school', 'age': 16}

16

2

intermediate

12

Dictionaries strongly resemble JSON syntax. The native json module in the Python standard library can be used to convert between JSON and dictionaries.

What is 'JSON' and what is it used for?

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

print(school_records["grades_info"]["teen"]["joseph"]) # dic olarak çıkartır
print(list(school_records["grades_info"]["teen"]["joseph"])) # list olarak çıkartır
print(list(school_records["grades_info"]["teen"]["joseph"].items())) # itemları list olarak çıkartır. Böyle olunca itemalar list içinde tuple şeklinde gösterilir

# 3 Farklı şekilde çıktısını alabiliriz

{'coding': 80, 'math': 89}
['coding', 'math']
[('coding', 80), ('math', 89)]

In [ ]:
friends = {
    "friend1" : {"first" : "Hüseyin", "last" : "Yaman", "age" : 34},
    "friend2" : {"first" : "Hakan", "last" : "Torun", "age" : 30}
}
print(friends)

{'friend1': {'first': 'Hüseyin', 'last': 'Yaman', 'age': 34}, 'friend2': {'first': 'Hakan', 'last': 'Torun', 'age': 30}}

In [ ]:
favourite = {
   "friends" : {
       "friend1" : {"first" : "Hüseyin", "last" : "Yaman", "age" : 34},
       "friend2" : {"first" : "Hakan", "last" : "Torun", "age" : 30}
   },

   "family" : {
       "family1" : {"first" : "Emine", "last" : "Yaman", "age" : 33 },
       "family2" : {"first" : "Yavuz Ali", "last" : "Yaman", "age" : 30},
       "family3" : {"first" : "Hasan", "last" : "Yaman", "age" : 30}
   }
}
print(favourite)

{'friends': {'friend1': {'first': 'Hüseyin', 'last': 'Yaman', 'age': 34}, 'friend2': {'first': 'Hakan', 'last': 'Torun', 'age': 30}}, 'family': {'family1': {'first': 'Emine', 'last': 'Yaman', 'age': 33}, 'family2': {'first': 'Yavuz Ali', 'last': 'Yaman', 'age': 30}, 'family3': {'first': 'Hasan', 'last': 'Yaman', 'age': 30}}}

In [ ]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}

print(customers["insurance"][5]["age"]) #Görüleceği üzere str keyler str olarak, integer keyler int olarak [] içine yazılır access yapılırken

22

## **SETS (KÜMELER)**

In [ ]:
# A set is a collection of elements with no repeats (Kümelerde listelerde olduğu gibi tekrar eden elemanlar yazamazsın, tek olarak yazdırır)
# Basic uses include membership testing and eliminating duplicate entries. 
# Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.
# (Python'da küme, matematikteki kümelerin sahip olduğu bütün özellikleri taşır. Yani matematikteki kümelerden bildiğimiz kesişim, birleşim ve fark gibi özellikler Python’daki kümeler için de geçerlidir.)

In [ ]:
set_1 = {'red', 'blue', 'pink', 'red'}
colors = 'red', 'blue', 'pink', 'red', 'yellow'

set_1 = set(colors)
print(set_1) # Çıktının sırası değişik olabilir her defasında, lakin dikkat edilirse tekrardan kaçınır

{'pink', 'blue', 'red', 'yellow'}

In [ ]:
# Curly braces '{}' or the set() function can be used to create sets. 
# But the only way to create an empty set is: use the set() function. 
# Note that, to create an empty set you have to use set() function. 
# Do not use {} to create an empty set. Otherwise, you will create an empty dictionary.

In [ ]:
empty_set = set() # Boş bir küme sadece bu şekilde oluşturulabilir
empty_dic = {}    # Bu şekilde oluşturulan boş bir dictionary olur
print(type(empty_set))
print(type(empty_dic))

<class 'set'>
<class 'dict'>

In [ ]:
s = set('unselfishness') # Bu şekilde string ifadelerle bir küme oluşturulabilir set() fonksiyonu yardımıyla

print(s) # unordered

{'i', 'u', 'e', 'n', 'l', 's', 'h', 'f'}

In [ ]:
print(len(set('listen to the voice of enlisted')))
print(set('listen to the voice of enlisted')) # Tekrar edenleri yazmaz

13
{'h', 'o', 'f', 'n', 'e', 'i', 'd', ' ', 'v', 't', 'l', 's', 'c'}

In [ ]:
a = set("04/14/2021") # Bu elemanlarına ayırır, tüm collections fonksitonları için geçerlidir(list,tuple,set)
print(a)
b = {"04/14/2021"}
print(b)

c = list("04/14/2021")
print(c)

d = tuple("04/14/2021")
print(d)

{'2', '1', '/', '4', '0'}
{'04/14/2021'}
['0', '4', '/', '1', '4', '/', '2', '0', '2', '1']
('0', '4', '/', '1', '4', '/', '2', '0', '2', '1')

In [ ]:
# Create a list that shows the unique elements
given_list = [1, 2, 3, 3, 3, 3, 4, 4, 5, 5,]
print(set(given_list))

{1, 2, 3, 4, 5}

In [ ]:
# We will now see how sets have unordered and unique objects.
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'} # {} içinde : lar yok 

print(colorset)

{'red', 'yellow', 'darkblue', 'orange', 'purple'}
{'red', 'yellow', 'darkblue', 'orange', 'purple'}

In [ ]:
letter = "a b c d e f g h i j k l m n o p r s t u v y z".split() #split() metodu ile görüldüğü gibi string ifadenin karakterlerinin hepsini ayrı ayrı liste şeklinde çıkarır
print(letter) # Burada liste oluştu
print(set(letter)) # set() fonksiyonu ile listemizi küme haline getirdik, görüldüğü gibi sıra olarak unordered gelir, her defasında değişebilir ama tekrarlar varsa tek alır

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'y', 'z']
{'j', 'u', 'e', 'a', 'g', 'i', 'v', 'k', 'n', 'r', 'c', 'p', 'l', 's', 'h', 'b', 'o', 'f', 'd', 'z', 'm', 't', 'y'}

In [ ]:
test = {1, "bir", 1.0} # Görüldüğü gibi bu kümede 1 ile 1.0 birbirinin aynısı olduğu için unique olarak sadece birini aldı uzunluğu da dolayısıyla 2 oldu
print(test)
print(len(test))

{1, 'bir'}
2

In [ ]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list) # set() fonksiyonu ile listeyi ilk olarak kümeye çevirebildik, tekrar eden ifadeler tek olarak yazıldı
flowerlist = list(flowerset) # Takiben list() fonksiyonu ile tekrardan listeye çevirdik

print(flowerset) 
print(flowerlist)

{'violet', 'orchid', 'rose', 'carnation'}
['violet', 'orchid', 'rose', 'carnation']

In [ ]:
a = {'carnation', 'orchid', 'rose', 'violet'}
b = {'rose', 'orchid', 'rose', 'violet', 'carnation'}
print(a)
print(b)  # Çıktılar aynı olur, kümelerde sıralamlar farklı olabilir ama bu iki küme aynıdır
print(a == b)

{'orchid', 'violet', 'rose', 'carnation'}
{'violet', 'carnation', 'rose', 'orchid'}
True

In [ ]:

set_2 = set([1,2,2,3,4,5]) # Bu kullanımların hepsi ile set yapılabilmektedir
set_3 = set((1,2,3,4))
set_4 = {1,2,3,4}


print(set_2)
print(set_3)
print(set_4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 2, 3, 4}

In [ ]:
set_1 = set([[1,2],[3,4],[4,5]]) # Bu şekilde bir kullanım ile (iç içe list) set oluşturulamamaktadır
print(set_1)

TypeError: ignored

In [ ]:
set_3 = set(((1,2),(3,4),(4,6),(1,2))) # Fakat görüleceği üzere iç içe tuple ile bir set yapılabilmektedir
print(set_3)

{(1, 2), (3, 4), (4, 6)}

### **Main Operations with Sets**

print(a - b)  # same as '.difference()' method

print(a.difference(b)) # a difference from b

print(a | b)  # same as '.union()' method

print(a.union(b)) # unification of a with b

print(a & b)  # same as '.intersection()' method

print(a.intersection(b)) # intersection of a and b

These methods are :

.add() : Adds a new item to the set.

.remove() : Allows us to delete an item.

.intersection() : Returns the intersection of two sets.

.union() : Returns the unification of two sets.

.difference() : Gets the difference of two sets.

In [ ]:
a = set('abracadabra')
print(a) # Görüleceği üzere tekrarlar gitti

{'d', 'b', 'a', 'c', 'r'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a)
print(b)

print(a - b)  # same as '.difference()' method (a kümesinde olup b kümesinde olmayanlar demektir)
print(a.difference(b)) # Bu şekilde difference() methodu ile de bulunabilmektedir.

{'d', 'b', 'a', 'c', 'r'}
{'m', 'a', 'l', 'c', 'z'}
{'d', 'b', 'r'}
{'d', 'b', 'r'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a)
print(b)

print(a | b)  # same as '.union()' method (a birleşim b kümesi demektir)
print(a.union(b)) # Bu şekilde union() methodu ile de bulunabilmektedir

{'d', 'b', 'a', 'c', 'r'}
{'m', 'a', 'l', 'c', 'z'}
{'d', 'b', 'm', 'a', 'c', 'l', 'z', 'r'}
{'d', 'b', 'm', 'a', 'c', 'l', 'z', 'r'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a)
print(b)

print(a & b)  # same as '.intersection()' method (a kesişim b kümesi)
print(a.intersection(b)) # bu şekilde intersection() methodu ile de bulunabilmektedir

{'d', 'b', 'a', 'c', 'r'}
{'m', 'a', 'l', 'c', 'z'}
{'a', 'c'}
{'a', 'c'}

In [ ]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

a.add('c') # we add 'c' again into the set
print(a)

{'d', 'b', 'a', 'r'}
{'d', 'b', 'a', 'c', 'r'}

In [ ]:
print(set('listen to the voice of enlisted'))
print(len(set('listen to the voice of enlisted'))) # Çünkü aynı olanları çıkartır (unique olmalı)

{'d', ' ', 'i', 't', 'h', 'e', 'v', 'o', 'f', 'n', 'l', 'c', 's'}
13

In [ ]:
# Return True if all items set x are present in set y: Yani bir küme diğerinin alt kümesi mi diye bakıyor set.issubset(set) şeklinde kullanılır
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

In [ ]:
abd = set("Washington")
nz = set("Wellington")

print(abd.union(nz))
print(abd.intersection(nz))
print(abd.difference(nz))
print()
print(abd | nz)
print(abd & nz)    # Bu kısımda işaretlerle gösterimleri
print(abd - nz)

{'h', 'o', 'n', 'e', 'i', 'a', 't', 'W', 'g', 's', 'l'}
{'o', 'n', 'i', 'W', 'g', 't'}
{'a', 'h', 's'}

{'h', 'o', 'n', 'e', 'i', 'a', 't', 'W', 'g', 's', 'l'}
{'o', 'n', 'i', 'W', 'g', 't'}
{'a', 'h', 's'}